@charset "UTF-8";
* {
  font-family: 微軟正黑體;
  /*border: solid 2px #777 */
}

body {
  height: 1000px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

header.jumbotron {
  margin-bottom: 0px;
  text-align: center;
  background-image: url(https://i.imgur.com/T0KBEqP.png);
  background-size: cover;
  background-attachment: fixed;
}
header.jumbotron .container {
  color: #0044BB;
  padding: 100px 0px;
}
header.jumbotron hr {
  max-width: 300px;
  border: solid 2px #00BBFF;
}
header.jumbotron h4 {
  color: rgba(0, 68, 187, 0.9);
}

section {
  padding: 50px 0px;
}

section#section_ask {
  background-color: #00BBFF;
}
section#section_ask .col-sm-5.img {
  background-image: url(https://i.imgur.com/QIrLgfE.png);
  height: 300px;
  width: 380px;
  background-size: cover;
  mix-blend-mode: multiply;
}
section#section_ask h2 {
  margin-top: 130px;
  padding: 10px 20px;
}
